<!doctype html>

<html lang="{{ .Site.LanguageCode | default " en-us " }}">

<head>
    <title>{{ if ne .Page.Title .Site.Title }}{{ .Page.Title }} | {{ .Site.Title }} {{ else }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "meta" . }} {{ partial "header_includes" . -}}
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <div class="columns">
                        <div class="column left-block">
                            <p class="is-size-3">
                                <a href="{{ relURL "/" }}">{{ .Site.Title | markdownify }}</a>
                            </p>
                            <i class="is-size-6">{{ .Site.Params.description }} </i>
                            <ul>
                                {{ range .Site.Menus.main }}
                                <li>
                                    <a href="{{.URL}}">{{ .Name }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column is-9">
                    <main>